:root {
  /*Global Colors*/
  --primary-color: #ffffff;
  /*Typography*/
  --main-font-family: "Prata", serif;
  --secondary-font-family: "Tangerine", cursive;
  --main-font-size: 16px;
  --line-height: 1.6;
  --primary-font-color: #333;
  /*Color Theme*/
  --main-color-theme:#76B2E4;
  --secondary-color-theme: #9C2259;
  --third-color-theme: #4d6fac;
  /*padding and margin*/
  --primary-margin: 20px;
}

/* Basic body styles, kept separate for easier encapsulation */
.calendar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Calendar container */
.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

/* Picture section */
.calendar__picture {
  position: relative;
  height: auto;
  padding: 20px;
  color: #fff;
  background: #262626  no-repeat center / cover; /* Default background image */
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}

.calendar__picture::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
  border-radius: 8px 8px 0 0;
}

.calendar__picture h2, .calendar__picture h3 {
  margin: 0;
  z-index: 1;
  position: relative;
}

.calendar__picture p {
  margin: 10px 0 0;
  font-size: 14px;
  z-index: 1;
  position: relative;
}

/* Calendar grid */
#calendar-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.53);
  border: 1px solid rgba(255, 255, 255, 0.75);
}

/* Days (S, M, T, W, T, F, S) */
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__day:nth-child(1),
.calendar__day:nth-child(7) {
  color: var(--secondary-color-theme);
}

/* Calendar days (1, 2, 3, ...) */
.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: #262626;
  cursor: pointer;
  border-radius: 50%; /* Make circles */
  transition: background-color 0.3s;
}

/* Styling for days with events */
.calendar__number--event {
  background-image: url(/images/20240812_012427_0005-removebg-preview.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styling for past event days */
.calendar__number--event-past {
  background-color: yellow;
  text-decoration: line-through;
  color: #9e9e9e; /* Optional: Change the color to indicate it's in the past */
}

/* Styling for the current day */
.calendar__number--current {
  border: 2px solid black;
}

/* Styling for the current day with an event */
.calendar__number--current-event {
  background-color: pink;
  border: 2px solid black;
}

#calendar-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

#calendar-controls button {
  background-color: #009688;
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

#calendar-controls button:hover {
  background-color: #00796b;
}

/*previous/next button*/
.calendar__button--events-next::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
}

.calendar__button--events-prev::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 5px;
  vertical-align: middle;
}


/* From Uiverse.io by yaroslavas2001 */ 
.btn {
  height: 4em;
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0px solid black;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  height: 2em;
  width: 8em;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 17px;
  z-index: 1;
  color: #000;
  padding: 4px 12px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.705);
  transition: all 0.5s ease;
  border: 0.3px solid rgba(0, 0, 0, 0.664);
}

.flower {
  display: grid;
  grid-template-columns: 1em 1em;
  position: absolute;
  transition: grid-template-columns 0.8s ease;
}

.flower1 {
  top: -12px;
  left: -13px;
  transform: rotate(5deg);
}

.flower2 {
  bottom: -5px;
  left: 8px;
  transform: rotate(35deg);
}

.flower3 {
  bottom: -15px;
  transform: rotate(0deg);
}

.flower4 {
  top: -14px;
  transform: rotate(15deg);
}

.flower5 {
  right: 11px;
  top: -3px;
  transform: rotate(25deg);
}

.flower6 {
  right: -15px;
  bottom: -15px;
  transform: rotate(30deg);
}

.petal {
  height: 1em;
  width: 1em;
  border-radius: 40% 70% / 7% 90%;
  background: linear-gradient(#ee98cb, #d6c3a5);
  border: 0.3px solid #ffffff;
  z-index: 0;
  transition: width 0.8s ease, height 0.8s ease;
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(270deg);
}

.four {
  transform: rotate(180deg);
}

.btn:hover .petal {
  background: linear-gradient(#ee98cb, #d6c3a5);
  border: 0.3px solid #ffffff;
}

.btn:hover .flower {
  grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
  width: 1.5em;
  height: 1.5em;
}

.btn:hover .text {
  background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
  animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(365deg);
  }
}

.btn:hover div.flower2 {
  animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(-325deg);
  }
}

.btn:hover div.flower3 {
  animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn:hover div.flower4 {
  animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(375deg);
  }
}

.btn:hover div.flower5 {
  animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
  0% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(-335deg);
  }
}

.btn:hover div.flower6 {
  animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(390deg);
  }
}
